# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.PFI.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Session 5 (Automne 2021)\Jeux Videos\PFI\PFI\.idea\.idea.PFI\.idea/dataSources/
/dataSources.local.xml
